### KNearestNeighbors as a regression based supervised learning algorithm

- The KNN algorithm assumes that similar things exist in close proximity. In other words, similar things are near to each other. KNN captures the idea of similarity (sometimes called distance, proximity, or closeness) with some mathematics we might have learned in our childhoodâ€” calculating the distance between points on a graph.

## The data is technical spec of cars. 
- URL: https://www.kaggle.com/datasets/uciml/autompg-dataset

### Aim here:
- Predict the *accelaration* value

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df_cars = pd.read_csv('/Users/rishinigam/online_teaching_freelance/DS_ML_Lectures/datasets/auto-mpg.csv')
df_cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
df_cars.shape

(398, 9)

In [4]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [5]:
df_cars.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [6]:
df_cars['horsepower'] = pd.to_numeric(df_cars['horsepower'], errors='coerce')
df_cars['horsepower'] = df_cars['horsepower'].replace('NaN', np.mean(df_cars['horsepower']))
df_cars['horsepower'] = df_cars['horsepower'].fillna(np.mean(df_cars['horsepower']))

In [7]:
df_cars['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [22]:
#df_4_cyl = df_cars[df_cars.cylinders==4].reset_index(drop=True)
#df_4_cyl = df_4_cyl.drop("cylinders", axis=1)
df_4_cyl = df_cars
df_4_cyl.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [24]:
df_4_cyl.corr(numeric_only=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.771437,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.838939,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.893646,0.932824,-0.543684,-0.370164,-0.609409
horsepower,-0.771437,0.838939,0.893646,1.000000,0.860574,-0.684259,-0.411651,-0.453669
weight,-0.831741,0.896017,0.932824,0.860574,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.684259,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.411651,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.453669,-0.581024,0.205873,0.180662,1.000000

In [10]:
df = df_4_cyl.loc[:, ['horsepower', 'weight', 'mpg', 'displacement', 'acceleration']]
df.head()

   horsepower  weight   mpg  displacement  acceleration
0       130.0    3504  18.0         307.0          12.0
1       165.0    3693  15.0         350.0          11.5
2       150.0    3436  18.0         318.0          11.0
3       150.0    3433  16.0         304.0          12.0
4       140.0    3449  17.0         302.0          10.5

In [11]:
df.isna().sum()

horsepower      0
weight          0
mpg             0
displacement    0
acceleration    0
dtype: int64

- The min-max normalizer linearly rescales every feature to the [0,1] interval.

In [12]:
scaler = MinMaxScaler().set_output(transform='pandas')
df_scaled = scaler.fit_transform(df)

In [13]:
df_scaled.head()

   horsepower    weight       mpg  displacement  acceleration
0    0.456522  0.536150  0.239362      0.617571      0.238095
1    0.646739  0.589736  0.159574      0.728682      0.208333
2    0.565217  0.516870  0.239362      0.645995      0.178571
3    0.565217  0.516019  0.186170      0.609819      0.238095
4    0.510870  0.520556  0.212766      0.604651      0.148810

In [14]:
df_scaled.shape

(398, 5)

In [15]:
x = df_scaled.drop('acceleration', axis=1)
y = df_scaled['acceleration'].values

In [16]:
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

In [17]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((358, 4), (358,), (40, 4), (40,))

In [18]:
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)

KNeighborsRegressor()

In [19]:
y_pred = knn.predict(x_test)

In [20]:
print('Mean Squared Error: ', round(mean_squared_error(y_test, y_pred),4))
print('RMSE: ', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Squared Error:  0.0079
RMSE:  0.08906878409027334

In [25]:
# apply hyper parameter tuning using n_neighbors 1 to 10